@import "./normalize.scss";
@import "./vars.scss";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

body {
  color:$secondaryColor;
  line-height: normal;
  overflow: hidden;
}

body, input, button {
  font-family: 'Libre Franklin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:14px;
  font-weight:100;
  line-height:22px;
}

.login {
  padding-top:5vh;
}

input, select, textarea, button {
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  @include rounded-borders;
}

p {
  margin-bottom:1em;
}

a {
  text-decoration: none;
}

h1,h2 {
  margin:0.2em 0;
  font-weight:500;
  line-height:40px;
}

strong {
  font-weight: 500;
}

input {
  background-color:$secondaryColor;
  border:none;
  padding:0.6em;
  margin-bottom:16px;
}

input:focus {
  outline-color: $primaryColor;
}

.content {
  display: block;
  max-width:480px;
  width:100%;
  margin:0 auto;
  padding:0 1em;
  text-align: center;
  z-index: 1;
  position: relative;
}

.btn {
  @include rounded-borders;
  @include animated;
  background-color:$secondaryColor;
  color: $primaryColor;
  margin-bottom:16px;
  cursor:pointer;
  display:inline-block;
  padding:0.6em;
  font-weight:500;

  &:hover {
    background-color:darken($primaryColor,6);
    color: $secondaryColor;
  }

}

.logo {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  margin-bottom: 2vh;

  & path {
    fill:$secondaryColor;
  }

}

/*!
 * animate.css -https://daneden.github.io/animate.css/
 * Version - 3.7.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2019 Daniel Eden
 */



@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
