@import url('https://fonts.googleapis.com/css?family=Pacifico|Libre+Franklin:100,500&display=swap');

// Vars

$primaryColor: #2d607d;
$secondaryColor: #FFF;
$dangerColor: #7d2d38;
$successColor:#607d2d;

$iconSize: 80px;

// mixins

@mixin rounded-borders {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

@mixin animated {
  transition: all 0.4s ease;
}

// animations

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}